<div id="wide-sidebar" class="row-fluid">
    <div class="span2">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="#/newConsult">Compose</a></li>
            <li><a href="#/consults/false">Incoming</a></li>
            <li><a href="#/consults/true">Outgoing</a></li>
        </ul>
    </div>
    <div class="span8">
        <div ng-switch="view">
            <div ng-switch-when="true" class="span12">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>From</td>
                        <td>{{notification.sender.name}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>To</td>
                        <td>{{notification.recipient.name}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Subject</td>
                        <td>{{notification.subject}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">{{notification.payload}}</td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" ng-click="reply()" class="btn">Reply</button>
                            <button type="submit" ng-click="cancel()" class="btn">Cancel</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-switch="compose">
            <div ng-switch-when="true" class="clearfix">
                <form id="consult">
                    <div class="span5">
                        <div>
                            <input class="span10" placeholder="Recipient Name" type="text"
                                   ng-model="recipient"
                                   typeahead="person as person.name for person in persons | filter:$viewValue">
                        </div>
                        <div>
                            <input class="span10" placeholder="Sender Name" type="text"
                                    ng-model="sender" disabled>
                        </div>
                        <div>
                            <input class="span10" placeholder="Subject" type="text"
                                    ng-model="subject">
                        </div>
                    </div>
                    <!-- span4 -->
                    <div class="row-fluid">
                        <div class="span12">
                            <textarea class="span12" placeholder="Type your questions here..." rows="10"
                                    ng-model="payload">
                            </textarea>
                            <button type="submit" ng-click="send()" class="btn">Send</button>
                            <button type="submit" ng-click="cancel()" class="btn">Cancel</button>
                        </div>
                        <!-- span12 -->
                    </div>
                    <!-- row-fluid -->
                    <span></span>
                </form>
            </div>
        </div>
    </div>
</div>
