<div id="wide-sidebar" class="row-fluid">
    <div class="span2">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="">Incoming</a></li>
            <li><a href="">Outgoing</a></li>
        </ul>
    </div>
    <div class="span8">
        <div class="clearfix">
            <div class="row">
                <div class="span4 pull-right">
                    <input type="text" class="input-small search-query">
                </div>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Sender</th>
                        <th>Message</th>
                        <th>Datetime</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Nyoman Ribeka</td>
                        <td>Example of consultation</td>
                        <td>01/24/2013</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Nyoman Ribeka</td>
                        <td>Other example of consultation</td>
                        <td>01/24/2013</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Nyoman Ribeka</td>
                        <td>Another example of consultation</td>
                        <td>01/24/2013</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Nyoman Ribeka</td>
                        <td>This is example of consultation</td>
                        <td>01/24/2013</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
