<div id="wide-sidebar" class="row-fluid">
    <div class="span2">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="#/newConsult">Compose</a></li>
            <li><a href="#/consults/false">Incoming</a></li>
            <li><a href="#/consults/true">Outgoing</a></li>
        </ul>
    </div>
    <div class="span8">
        <div class="clearfix">
            <form id="consult" class="clearfix">
                <div class="span5">
                    <div>
                        <input class="span10" id="recipient" title="Recipient Name" name="recipient"
                               ng-model="" required="" placeholder="Recipient Name" type="text">
                    </div>
                    <div>
                        <input class="span10" id="sender" title="Sender Name" name="sender"
                               ng-model="" required="" placeholder="Sender Name" type="text">
                    </div>
                    <div>
                        <input class="span10" id="subject" title="Subject" name="subject"
                               ng-model="" required="" placeholder="Subject" type="text">
                    </div>
                </div>
                <!-- span4 -->
                <div class="row-fluid">
                    <div class="span12">
                        <textarea id="textarea" name="message"
                                  ng-model="" required=""
                                  placeholder="Type your questions here..." rows="10"
                                  class="span12"></textarea>
                        <button type="submit" class="btn">Reply Message</button>
                    </div>
                    <!-- span12 -->
                </div>
                <!-- row-fluid -->
                <span></span>
            </form>
        </div>
    </div>
</div>
