<div id="wide-sidebar" class="row-fluid">
    <div class="span2">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="#/newConsult">Compose</a></li>
            <li ng-show="standardNavigation('incoming-user')"><a href="#/consults/outgoing/false/role/false">Incoming</a></li>
            <li ng-show="standardNavigation('outgoing-user')"><a href="#/consults/outgoing/true/role/false">Outgoing</a></li>
            <li ng-show="standardNavigation('incoming-role')"><a href="#/consults/outgoing/false/role/true">Incoming by Role</a></li>
            <li ng-show="standardNavigation('outgoing-role')"><a href="#/consults/outgoing/true/role/true">Outgoing by Role</a></li>
            <li ng-show="selectedNavigation('incoming-user')" class="navigation-active"><a href="#/consults/outgoing/false/role/false">Incoming</a></li>
            <li ng-show="selectedNavigation('outgoing-user')" class="navigation-active"><a href="#/consults/outgoing/true/role/false">Outgoing</a></li>
            <li ng-show="selectedNavigation('incoming-role')" class="navigation-active"><a href="#/consults/outgoing/false/role/true">Incoming by Role</a></li>
            <li ng-show="selectedNavigation('outgoing-role')" class="navigation-active"><a href="#/consults/outgoing/true/role/true">Outgoing by Role</a></li>
        </ul>
    </div>
    <div class="span8">
        <div class="clearfix">
            <div class="row">
                <div class="span4 pull-left" ng-show="role">
                    <select ng-model="selectedRole"  ng-options="role.name for role in roles | orderBy: 'name'"></select>
                </div>
                <div class="span4 pull-right">
                    <input type="text" ng-model="search" class="search-query search-query-size" />
                </div>
            </div>
            <div class="row">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Subject</th>
                        <th>Source</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="notification in notifications | orderBy:'datetime':true">
                        <td><a href="#/consult/{{notification.uuid}}">{{(currentPage - 1) * maxSize + $index + 1}}</a></td>
                        <td>{{notification.sender.name}}</td>
                        <td>{{notification.recipient.name}}</td>
                        <td>{{notification.subject}}</td>
                        <td>{{notification.source}}</td>
                        <td>{{notification.datetime}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="noOfPages > 1" class="row">
                <div class="span12 pull-left">
                    <pagination num-pages="noOfPages" current-page="currentPage" max-size="maxSize" boundary-links="true"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
