html{
    font-size: 100%;
}

.table-icon {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

.border {
    border: 1px solid #ddd;
}

.open-box {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.search-box{
    width: 200px;
    height: 15px;
}

.header_background {
    background-color: #34495e;
}

.form-tag {
    margin-top: 4px;
}

.table-element {
    text-align: center;
    vertical-align: middle;
}

.padded-content {
    margin: 16px 16px;
}

.padded-table-content {
    margin: 5px 16px;
}

.active-form {
    background-color: #F8F8F8;
}

.active-xform {
    background-color: #BDC3C7;
}

.label{
    font-size: 11px;
}

.row-fluid input[type="text"]{
    height: auto;
}


